body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 0px 60px;
}

nav {
    background-color: white;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 24px;
}

nav li a, .links {
    text-decoration: none;
    color: #0984E3;
}

nav li a:hover {
    color: #E17055
}

.mainImgContainer {
    text-align: center;
}

.mainImg img {
    width: 300px;
}

.mainCaption {
    text-align: center;
    font-size: 48px;
}

.mainText {
    /*margin-top: 100px;*/
}

.mainText h2 {
    font-size: 42px;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 42px;
}

.mainText p, .authorText p {
    font-size: 24px;
}

.imageSection {
    padding: auto;
    display: flex;
}

.imageContainer {
    padding: 2%;
}

.imageContainer img {
    width: 100%;
}

.adviceContainer {
    display: flex;
    padding: 2% 4%;
}

.adviceLine {
    border: 2px solid black;
    width: 35%;
    height: 0%;
    margin: 0% 3%;
}

.adviceText {
    margin-top: -1%;
    font-size: 2.5em;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

footer {
    padding: 0px;
    background-color: #2D3436;
    display: flex;
    align-items: center;
}

.footerLinks {
    padding: 0%;
    font-size: 18px;
    border-right: 1px solid #74B9FF;
}

.footerLinks ul {
    margin: 3% 3% 3% -12%;
}

.footerLinks li {
    list-style: none;
    line-height: 1.5em;
    color: #b2bec3;
}

.footerLinks li a {
    text-decoration: none;
    color: #74B9FF;
}

.footerLinks li a:hover {
    color: #E17055
}

.footerForm {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 2%
}

.formText {
    color: #E17055;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.footerForm form {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 36px;
}

.footerForm form input {
    width: 100%;
    margin: 0% 2%;
}

#username, #email {
    color: #2D3436;
    text-align: left;
    border: none;
    padding: 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

#username::placeholder, #email::placeholder {
    text-align: right;
    color: #B2BEC3
}

#submit, .buyButton p, .purchaseButton {
    background: #00B894;
    color: white;
    border: none;
    border-radius: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8em;
    cursor: pointer;
}

.noDecor {
    text-decoration: none;
}

#submit:hover, .buyButton p:hover, .purchaseButton:hover {
    background: #09dcb3;
}

#submit:active, .buyButton p:active, .purchaseButton:active {
    background: #08967a;
}

/*Products page*/

.genImg img {
    width: 100%;
    text-align: top;
}

.productsContainer, .reviewsContainer, .networksContainer {
    display: flex;
}

.productCard {
    width: 100%;
    margin: 0% 3%;
    box-sizing: border-box;
}

.productImg img, .catItemImg img, .purchaseImg img, .purchaseForm {
    width: 100%;
    box-shadow: 0 0 10px #777777;
}

.productCard section {
    padding: 0% 7%;
}

.productCard h3, .catItemText h3, .purchaseText h3 {
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 0.5em;
    font-weight: lighter;
    font-size: 2.5em;
}

.purchaseText h3 {
    line-height: 1em;
}

.productCard p {
    font-size: 1.5em;
}

.buyButton {
    padding: 0% 7%;
    text-align: center;
}

.buyButton p {
    font-size: 2em;
}

#seeMore {
    background: #fdcb6e;
    border: none;
    border-radius: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.8em;
    cursor: pointer;
    text-align: center;
    width: 40%;
    margin: auto;
    min-width: 200px;
}

#seeMore:hover {
    background: #ffeaa7;
}

#seeMore:active {
    background: #dda94a;
}

#seeMore p {
    padding: 2px;
    color: white;
}

.reviewsContainer {
    margin-bottom: 50px;
}

.reviewCard {
    width: 100%;
    margin: 0% 2%;
}

.reviewImg img {
    width: 100%;
    outline: 1px solid #a0a0a0;
}

.reviewCardText {
    padding: 10px;
    font-size: 1.2em;
    font-weight: lighter;
    font-style: italic;
}

.networksContainer section{
    display: flex;
    width: 100%;
}

.netCard {
    width: 100%;
    margin: 0% 2.5%;
}

.netCardImg img{
    width: 100%;
    max-width: 200px;
}

.netCardText {
    padding: 0% 8px;
    font-size: 1.8em;
}

.netName {
    font-weight: bold;
}

.netContent {
    font-style: oblique;
}

.contactsContainer section {
    display: flex;
    font-size: 1.8em;
}

.contactsContainer p {
    margin-left: 10px;
    line-height: 0.5em;
}

.authorCard, .authorFooter section {
    display: flex;
    align-items: center;
}

.authorFooter img {
    width: 40px;
    height: 40px;
}

.authorFooter {
    font-size: 1.8em;
    display: flex;
    align-items: center;
}

.authorFooter div {
    margin-left: 10px;
}

.authorPicture {
    width: 300px;
    margin-left: 20px;
    padding-bottom: 6%;
}

.imgRep {
    display: none;
}

.contactForm {
    font-size: 2em;
}

.contactForm p {
    font-weight: bold;
}

.contactForm form {
    text-align: center;
}

.contactForm label {
    margin-right: 10px;
}

#contact_text {
    margin: 20px 0px;
    width: 60%;
    font-size: 0.7em;
}

#contact_email {
    font-size: 0.7em;
}

.contactForm #submit {
    font-size: 1em;
}

.dif {
    display: none;
}

.purchaseForm {
    padding: 20px;
    box-sizing: border-box;
}

.purchaseForm input {
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
}

.purchaseForm input.iBorder {
    border: 1px solid #2D3436;
    border-radius: 2px;
    padding-left: 5px;
}

.tempAdvice {
    font-size: 1em;
    margin-top: -10px;
    margin-bottom: -30px;
}